#--- temp files
#*
*#
*~
.#*
.*#
.DS_Store
.backup
.backup/**/*
.local
.local/**/*
.old
.old/**/*
.tmp
.tmp/**/*
bar*
baz*
foo*

#--- app files
.git
.git/**/*
*.log
logs
logs/**/*
node_modules
.eslintrc.json
.eslintrc
.gitignore
.gitattributes
ISSUE_TEMPLATE.md
LICENSE.md
README.md
npm-debug.log
build.sh
run.sh
Dockerfile
Dockerfile*
docker-compose.yml
docker-compose*.yml
env.gpg
env*.gpg
.vscode
presets.json.text
rooms.json.txt
test_endpoint.js
cache/*
settings-*.gpg
